body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

div {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

.actions {
  margin-bottom: 12px;
}

.actions .message {
  display: block;
}

.field-config-view {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);

  width: 100%;
  padding: 0 20px;
}

.section {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
